* {
  background:#00B2CA;
  font-family: 'Montserrat', 'sans-serif' !important;
}

.id-title, .timer, .button-div {
  position: relative;
  top: 120px;
  text-align: center;
  color: beige; 
}

.button-div {
  text-align: center;
}

#start-button, #stop-button, #reset-button {
 display: inline-block;
 padding: 0.5em 2em;
 border: 0.16em solid beige;
 margin: 0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration: none;
 text-transform: uppercase;
 color: beige;
 text-align: center;
}

.motto {
  color: beige;
  text-align: center;
  position: relative;
  top: 120px;
}

#thai-box {
  position: absolute;
  right: 20%;
  bottom: .05%;
  resize: none;
  object-fit: scale-down;
  height: 500px;
}